instagram-feed {
  display: block;
  width: 100%;
  overflow: hidden;
}

instagram-feed .grid:not(.even) {
  display: grid;
  grid-gap: 1px 5px;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  grid-auto-rows: 1px;
}

instagram-feed .grid.even > .item {
  display: inline-block;
  float: left;
  vertical-align: top;
  height: 25%;
  width: 25%;
}

instagram-feed .grid.even {
  border-spacing: 16px;
  clear: both;
  overflow: hidden;
}

@media (max-width: 700px) {
  instagram-feed .grid.even > .item {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 50%;
    width: 50%;
  }
}

@media (max-width: 400px) {
  instagram-feed .grid.even > .item {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 100%;
    width: 100%;
  }
}

instagram-feed .grid.even .item {
  overflow: hidden;
}

instagram-feed .content {
  display: flex;
  position: relative;
  overflow: hidden;
}

instagram-feed .content p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

instagram-feed .content .caption {
  transition: all 0.25s;
  position: absolute;
  overflow: hidden;
  bottom: 4px;
  z-index: 10;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: transparent;
}

instagram-feed .content .caption::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.9) 80%);
}

instagram-feed .content:hover .caption {
  background: white;
}

instagram-feed .view-more {
  padding-top: 50vh;
  margin-top: -50vh;
  display: flex;
  width:  100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
